In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('video1-el.csv')
df

         timestamps      TP9     AF7     AF8     TP10  Right AUX
0      1.761114e+09   53.711  -7.812   5.859   91.797        0.0
1      1.761114e+09 -136.719  -0.977   1.465 -118.652        0.0
2      1.761114e+09 -126.953  -1.953  -5.371 -159.180        0.0
3      1.761114e+09  -12.695 -12.695  -4.395  -54.688        0.0
4      1.761114e+09   94.727 -14.160   4.395   58.594        0.0
...             ...      ...     ...     ...      ...        ...
73195  1.761114e+09  -46.875 -33.691 -25.879  -66.406        0.0
73196  1.761114e+09   -6.348 -28.809 -35.156  -44.922        0.0
73197  1.761114e+09  -18.555 -33.691 -24.902  -59.570        0.0
73198  1.761114e+09  -63.477 -43.945 -20.996  -69.336        0.0
73199  1.761114e+09  -36.621 -40.039 -14.648  -11.230        0.0

[73200 rows x 6 columns]

In [31]:
df['timestamps'] = pd.to_datetime(df['timestamps'], unit='s').dt.tz_localize('UTC').dt.tz_convert('Asia/Jakarta')
df

,timestamps,TP9,AF7,AF8,TP10,Right AUX
0,2025-10-22 13:14:01.210999966+07:00,53.711,-7.812,5.859,91.797,0.0
1,2025-10-22 13:14:01.214999914+07:00,-136.719,-0.977,1.465,-118.652,0.0
2,2025-10-22 13:14:01.219000101+07:00,-126.953,-1.953,-5.371,-159.180,0.0
3,2025-10-22 13:14:01.221999884+07:00,-12.695,-12.695,-4.395,-54.688,0.0
4,2025-10-22 13:14:01.226000071+07:00,94.727,-14.160,4.395,58.594,0.0
...,...,...,...,...,...,...
73195,2025-10-22 13:18:47.108999968+07:00,-46.875,-33.691,-25.879,-66.406,0.0
73196,2025-10-22 13:18:47.112999916+07:00,-6.348,-28.809,-35.156,-44.922,0.0
73197,2025-10-22 13:18:47.117000103+07:00,-18.555,-33.691,-24.902,-59.570,0.0
73198,2025-10-22 13:18:47.119999886+07:00,-63.477,-43.945,-20.996,-69.336,0.0
73199,2025-10-22 13:18:47.124000072+07:00,-36.621,-40.039,-14.648,-11.230,0.0

In [32]:
df['timestamps'] = df['timestamps'].dt.floor('S')
df

C:\Users\Dafa\AppData\Local\Temp\ipykernel_34676\3547701735.py:1: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  df['timestamps'] = df['timestamps'].dt.floor('S')

                     timestamps      TP9     AF7     AF8     TP10  Right AUX
0     2025-10-22 13:14:01+07:00   53.711  -7.812   5.859   91.797        0.0
1     2025-10-22 13:14:01+07:00 -136.719  -0.977   1.465 -118.652        0.0
2     2025-10-22 13:14:01+07:00 -126.953  -1.953  -5.371 -159.180        0.0
3     2025-10-22 13:14:01+07:00  -12.695 -12.695  -4.395  -54.688        0.0
4     2025-10-22 13:14:01+07:00   94.727 -14.160   4.395   58.594        0.0
...                         ...      ...     ...     ...      ...        ...
73195 2025-10-22 13:18:47+07:00  -46.875 -33.691 -25.879  -66.406        0.0
73196 2025-10-22 13:18:47+07:00   -6.348 -28.809 -35.156  -44.922        0.0
73197 2025-10-22 13:18:47+07:00  -18.555 -33.691 -24.902  -59.570        0.0
73198 2025-10-22 13:18:47+07:00  -63.477 -43.945 -20.996  -69.336        0.0
73199 2025-10-22 13:18:47+07:00  -36.621 -40.039 -14.648  -11.230        0.0

[73200 rows x 6 columns]

In [33]:
df['timestamps'] = df['timestamps'].dt.strftime('%H:%M:%S')
df

      timestamps      TP9     AF7     AF8     TP10  Right AUX
0       13:14:01   53.711  -7.812   5.859   91.797        0.0
1       13:14:01 -136.719  -0.977   1.465 -118.652        0.0
2       13:14:01 -126.953  -1.953  -5.371 -159.180        0.0
3       13:14:01  -12.695 -12.695  -4.395  -54.688        0.0
4       13:14:01   94.727 -14.160   4.395   58.594        0.0
...          ...      ...     ...     ...      ...        ...
73195   13:18:47  -46.875 -33.691 -25.879  -66.406        0.0
73196   13:18:47   -6.348 -28.809 -35.156  -44.922        0.0
73197   13:18:47  -18.555 -33.691 -24.902  -59.570        0.0
73198   13:18:47  -63.477 -43.945 -20.996  -69.336        0.0
73199   13:18:47  -36.621 -40.039 -14.648  -11.230        0.0

[73200 rows x 6 columns]

In [35]:
df['timestamps'] = pd.to_datetime(df['timestamps'], errors='coerce')
label_seq = "222222002221100000222221"
start_time = df['timestamps'].min()

# hitung durasi (dalam detik) sejak waktu awal
df['elapsed'] = (df['timestamps'] - start_time).dt.total_seconds()

# tentukan blok waktu per 10 detik
df['block'] = (df['elapsed'] // 10).astype(int)

# ubah label_seq jadi list angka
label_list = list(label_seq)

# assign label berdasarkan waktu
df['label'] = df['block'].apply(lambda x: int(label_list[x]) if x < len(label_list) else None)

# opsional: hapus kolom bantu
df = df.drop(columns=['elapsed', 'block'])
df

C:\Users\Dafa\AppData\Local\Temp\ipykernel_34676\1601860846.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['timestamps'] = pd.to_datetime(df['timestamps'], errors='coerce')

               timestamps      TP9     AF7     AF8     TP10  Right AUX  label
0     2025-10-22 13:14:01   53.711  -7.812   5.859   91.797        0.0    2.0
1     2025-10-22 13:14:01 -136.719  -0.977   1.465 -118.652        0.0    2.0
2     2025-10-22 13:14:01 -126.953  -1.953  -5.371 -159.180        0.0    2.0
3     2025-10-22 13:14:01  -12.695 -12.695  -4.395  -54.688        0.0    2.0
4     2025-10-22 13:14:01   94.727 -14.160   4.395   58.594        0.0    2.0
...                   ...      ...     ...     ...      ...        ...    ...
73195 2025-10-22 13:18:47  -46.875 -33.691 -25.879  -66.406        0.0    NaN
73196 2025-10-22 13:18:47   -6.348 -28.809 -35.156  -44.922        0.0    NaN
73197 2025-10-22 13:18:47  -18.555 -33.691 -24.902  -59.570        0.0    NaN
73198 2025-10-22 13:18:47  -63.477 -43.945 -20.996  -69.336        0.0    NaN
73199 2025-10-22 13:18:47  -36.621 -40.039 -14.648  -11.230        0.0    NaN

[73200 rows x 7 columns]

In [41]:
df.tail(25000)

               timestamps     TP9     AF7     AF8    TP10  Right AUX  label
48200 2025-10-22 13:17:09 -33.203  -6.348 -23.438 -29.785        0.0    2.0
48201 2025-10-22 13:17:09 -15.137 -12.207 -21.973  -2.441        0.0    2.0
48202 2025-10-22 13:17:09 -11.230 -13.672 -14.648 -10.742        0.0    2.0
48203 2025-10-22 13:17:09 -26.855 -15.137 -10.742 -30.762        0.0    2.0
48204 2025-10-22 13:17:09 -51.758 -17.578 -13.184 -49.805        0.0    2.0
...                   ...     ...     ...     ...     ...        ...    ...
73195 2025-10-22 13:18:47 -46.875 -33.691 -25.879 -66.406        0.0    NaN
73196 2025-10-22 13:18:47  -6.348 -28.809 -35.156 -44.922        0.0    NaN
73197 2025-10-22 13:18:47 -18.555 -33.691 -24.902 -59.570        0.0    NaN
73198 2025-10-22 13:18:47 -63.477 -43.945 -20.996 -69.336        0.0    NaN
73199 2025-10-22 13:18:47 -36.621 -40.039 -14.648 -11.230        0.0    NaN

[25000 rows x 7 columns]

In [43]:
df[df['label'].isna()]

               timestamps     TP9     AF7     AF8    TP10  Right AUX  label
61392 2025-10-22 13:18:01 -27.344   2.930 -29.297 -32.227        0.0    NaN
61393 2025-10-22 13:18:01 -59.082   0.977 -39.551 -69.336        0.0    NaN
61394 2025-10-22 13:18:01 -65.430   2.441 -45.410 -79.102        0.0    NaN
61395 2025-10-22 13:18:01 -39.062  -6.836 -41.504 -60.547        0.0    NaN
61396 2025-10-22 13:18:01 -12.207  -3.418 -42.969 -31.738        0.0    NaN
...                   ...     ...     ...     ...     ...        ...    ...
73195 2025-10-22 13:18:47 -46.875 -33.691 -25.879 -66.406        0.0    NaN
73196 2025-10-22 13:18:47  -6.348 -28.809 -35.156 -44.922        0.0    NaN
73197 2025-10-22 13:18:47 -18.555 -33.691 -24.902 -59.570        0.0    NaN
73198 2025-10-22 13:18:47 -63.477 -43.945 -20.996 -69.336        0.0    NaN
73199 2025-10-22 13:18:47 -36.621 -40.039 -14.648 -11.230        0.0    NaN

[11808 rows x 7 columns]